.song-container {
  min-height: 60vh;

  display: flex; // This gives other properties
  flex-direction: column;
  align-items: center; // This is a partial file and also align-items is accessible only for display:flex
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
