* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  // Throughout file h1,h2,h3
  color: rgb(54, 54, 54);
}
@import "./_player.scss";
@import "./_song.scss";
@import "./library";
@import "./nav";
body {
  font-family: "Lato", sans-serif;
}
h3,
h4 {
  color: rgb(100, 100, 100);
  font-weight: 400;
}
.App {
  transition: all 0.3s ease;
}
.library-active {
  margin-left: 30%;
}
